header
{
   position: fixed;
   width: 100%;
   height: 65px;
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #ffffff05;
   backdrop-filter: blur(15px);
   border-bottom: .5px solid #555;
   z-index: 1000;
}

header .left
{
   display: flex;
   align-items: center;
   gap: 2rem;
}

header .left .back
{
   width: 25px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: .5px solid #555;
   color: #555;
   background: #ffffff05;
   font-size: .8rem;
   transform: rotate(-45deg);
}

header ul.mn
{
   gap: 1rem;
}

header ul.mn li a img
{
   user-select: none;
   height: 1.2rem;
}

.back i {transform: rotate(45deg);}
header .left .logo 
{
   height: 35px;
   margin-top: .25rem;
}

header ul
{
   display: flex;
   gap: 2rem;
   list-style: none;
}

header ul li {position: relative;}

header ul li a
{
   color: #aaa;
   font-size: .85rem;
}

header .shop
{
   border: none;
   background: #539348;
   padding: .35rem 1.5rem;
   font-size: .75rem;
   margin-right: 8px;
   color: #000;
}

header .shop.mn
{
   margin-top: 1rem;
   width: 100px;
   display: none;
}

#menu {display: none;}

#b-menu
{
   color: #ccc;
   font-size: 1.1rem;
   display: none;
   cursor: pointer;
}

@media (max-width: 800px)
{
   header ul
   {
      position: fixed;
      inset: 65px auto auto -100%;
      flex-direction: column;
      padding: 2rem;
      width: 100%;
      height: calc(100vh - 65px);
      background: #222;
      transition: 0.3s all ease-in-out;
   }

   header .shop{display: none;}
   header .shop.mn, #b-menu {display: block;}
   #menu:checked ~ ul {inset: 65px auto auto 0;}
}